---
layout: default
---

<header class="masthead" {% if page.background %}style="background-image: url('{{ page.background | relative_url }}')"{% endif %}>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="post-heading">
          <h1>{{ page.title }}</h1>
          {% if page.subtitle %}
          <h2 class="subheading">{{ page.subtitle }}</h2>
          {% endif %}
          <span class="meta">
            Posted by {% if page.author %}{{ page.author }}{% else %}{{ site.author }}{% endif %}
            on {{ page.date | date: '%B %d, %Y' }} &middot; {% include read_time.html content=page.content %}
          </span>
        </div>
      </div>
    </div>
  </div>
</header>

<main class="container px-4 px-lg-5">
  <div class="row gx-4 gx-lg-5 justify-content-center">
    <div class="col-md-10 col-lg-8 col-xl-7">
      <article class="post-content">
        {{ content }}
      </article>

      <hr>

      <div class="clearfix">
        {% if page.previous.url %}
        <a class="btn btn-primary float-start" href="{{ page.previous.url | relative_url }}">&larr; Previous<span class="d-none d-md-inline"> Post</span></a>
        {% endif %}
        {% if page.next.url %}
        <a class="btn btn-primary float-end" href="{{ page.next.url | relative_url }}">Next<span class="d-none d-md-inline"> Post</span> &rarr;</a>
        {% endif %}
      </div>
    </div>
  </div>
</main>
